/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/

/* General Styles across pages */

header {
    background-color:#EFEFEF;
}

.no-js #experience-timeline>div {
    background: #efefef;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9
}

.no-js #experience-timeline>div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0
}

.no-js #experience-timeline>div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0
}

.no-js #experience-timeline>div p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px
}

/* The Nav bar Styles */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s
}

header ul {
    display: inline-block;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

header li {
    display: inline-block
}

header a {
    display: block;
    color: #2C3860;
    padding: 10px;
    font-size: 17px;
}

header a:hover {
    color: #217dbb;
    font-weight: bold;
    background: #eee;
    border-radius: 4px
}
header.active {
    display: block
}

header.sticky {
    position: fixed;
    z-index: 999
}

#menu.active {
    display: block
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #2C3860;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #fff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #2C3860
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
}

#mobile-menu-close i {
    vertical-align: middle
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #2C3860
}

.background-alt {
    background: #f2f2f5
}



@keyframes pulsate {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.2, 1.2)
    }
    100% {
        transform: scale(1, 1)
    }
}

/* Footer Styles */
footer {
    padding-top:5px;
}

.copyright {
    padding-top: 20px
}

.copyright p {
    margin: 0;
    color: #74808a
}

.social {
    text-align: right;
}

.social li {
    display: inline-block;
    font-size: 2em;
    list-style: none
}

.social a {
    display: block;
    color: #74808a;
    padding: 10px
}

.social a:hover {
    color: #2C3860
}

/* Homepage Styles*/
#lead {
    position: relative;
    height: 100vh;
    /* min-height: 500px;
    max-height: 1080px; */
    background: url(../images/background_image.png);
    /* background-size: cover; */
    padding: 15px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    background-position:center;
    background-color:#EFEFEF
    
}

#lead-content {
    position: relative;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: bottom;
}

#lead-content h1{
    margin: 0
    color: black;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em
}


#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33, 125, 187, 0.8);
    z-index: 1
}


#lead h4 {
    text-align: center;
    font-size:50px;
    font-weight:bold;
    margin-top:530px;
    animation:3s fadeIn;
    animation-delay: 2s;
    animation-fill-mode:forwards;
    visibility:hidden;
    font-family: 'Lato', sans-serif;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      visibility: visible;
      opacity:1;
    }
  }


/* National part styles */
#national {
    padding: 50px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
    margin: 30px auto;
    background-color:#EFEFEF;
}

#national h2 {
    color: #374054;
    margin-bottom: 10px 40px;
}

/* States Styles */

#projects {
    padding: 50px 15px;
    margin: 30px auto;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
    background-color:#efefef;
}

#projects h2 {
    color: #374054;
    margin-bottom: 50px
}


/* Chart styles */
#chart {
    background-color:#efefef;
    padding-top: 100px;
}

#chart h2 {
    color: #374054;
    margin-left:450px;
    text-align: center;
}

#sources {
    padding: 50px 0px;
    text-align: center;
    background-color: #efefef;
}

#sources h2 {
    color: #374054;
    margin-bottom: 30px
}

#sources li {
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em
}

/* Interesting Facts Styles */

.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all
}

.btn-rounded-white:hover {
    color: #2C3860;
    background: #fff;
    text-decoration: none
}

.btn {
    margin-right:15px;
}

.qna-img {
    background-color:#EFEFEF;
    border-color:#EFEFEF;
    background-size: contain;
    height:80vh;
}

.row {
    background-color:#EFEFEF;
}

/* Media Query */

/* @media only screen and (max-width: 750px) {
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px
    }
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px
    }
    .vtimeline-icon {
        margin-left: 0
    }
    .vtimeline-content {
        margin-left: 70px
    }
} */

@media only screen and (max-width: 650px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%
    }
    #mobile-menu-open,
    #mobile-menu-close {
        display: block
    }
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%
    }
    #menu li {
        display: block;
        margin-bottom: 10px
    }
    .national-block h3,
    .national-block span {
        float: none
    }
    footer {
        text-align: center
    }
    .social {
        text-align: center
    }
}