<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Elemental Solutions </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="static/css/leaflet.css"> -->
</head>

<body>

    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <!-- End #mobile-menu-toggle -->



    <header>
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/national">National</a>
            </li>
            <li>
                <a href="/state">State</a>
            </li>
            <li>
                <a href="/alternative">Electric Vehicle</a>
            </li>
            <li>
                <a href="/data">Data</a>
            </li>
            <li>
                <a href="/interestingFact">Interesting Facts</a>
            </li>
        </ul>
    </header>

    <!-- End header -->



    <div id="education">
        <h2 class="heading">Electric Vehicle Registrations by State</h2>
        <div class="container">
            <canvas id="myChart"></canvas>
            <script>
                var ctx = document.getElementById('myChart');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Alabama",
                            "Alaska",
                            "Arizona",
                            "Arkansas",
                            "California",
                            "Colorado",
                            "Connecticut",
                            "Delaware",
                            "District Of Columbia",
                            "Florida",
                            "Georgia",
                            "Hawaii",
                            "Idaho",
                            "Illinois",
                            "Indiana",
                            "Iowa",
                            "Kansas",
                            "Kentucky",
                            "Louisiana",
                            "Maine",
                            "Maryland",
                            "Massachusetts",
                            "Michigan",
                            "Minnesota",
                            "Mississippi",
                            "Missouri",
                            "Montana",
                            "Nebraska",
                            "Nevada",
                            "New Hampshire",
                            "New Jersey",
                            "New Mexico",
                            "New York",
                            "North Carolina",
                            "North Dakota",
                            "Ohio",
                            "Oklahoma",
                            "Oregon",
                            "Pennsylvania",
                            "Rhode Island",
                            "South Carolina",
                            "South Dakota",
                            "Tennessee",
                            "Texas",
                            "Utah",
                            "Vermont",
                            "Virginia",
                            "Washington",
                            "West Virginia",
                            "Wisconsin",
                            "Wyoming",
                        ],
                        datasets: [{
                            label: '# of Vehicles Registered',
                            data: [1450,
                                530,
                                15000,
                                520,
                                256800,
                                11700,
                                4450,
                                720,
                                970,
                                25200,
                                15300,
                                6590,
                                1080,
                                12400,
                                3030,
                                1090,
                                1610,
                                1240,
                                1110,
                                750,
                                8080,
                                9760,
                                4210,
                                4740,
                                390,
                                3450,
                                500,
                                850,
                                4810,
                                1120,
                                12100,
                                1260,
                                16600,
                                7320,
                                170,
                                6510,
                                3290,
                                12400,
                                7990,
                                600,
                                1950,
                                260,
                                3980,
                                22600,
                                5220,
                                1060,
                                8370,
                                28400,
                                230,
                                3680,
                                170,
                            ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                // beginAtZero: true,
                                // suggestedMin: 150,
                                suggestedMax: 250000,
                                xAxisID: "Test"
                            },

                        }
                    }
                });
            </script>
        </div>
    </div>

    <div id="skills">
        <h2 class="heading">Data Sources</h2>
        <p>https://www.kaggle.com/headsortails/us-natural-disaster-declarations</p>
        <p>https://fred.stlouisfed.org/series/GASREGW</p>
        <p>https://www.eia.gov/opendata/qb.php?category=238627</p>
        <p>https://afdc.energy.gov/data/?q=electricity</p>
    </div>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; 2021 Elemental Solutions
                    </p>
                </div>
                <div class="col-sm-2 top">

                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://github.com/jzhao0626/Project02" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- End footer -->



    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script> -->
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/plots.js') }}"></script> -->



</body>

</html>