<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Elemental Solutions </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/leaflet.css">
</head>

<body>

    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <!-- End #mobile-menu-toggle -->



    <header>
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/national">National</a>
            </li>
            <li>
                <a href="/state">State</a>
            </li>
            <li>
                <a href="/alternative">Electric Vehicle</a>
            </li>
            <li>
                <a href="/data">Data</a>
            </li>
            <li>
                <a href="/interestingFact">Interesting Facts</a>
            </li>
        </ul>
    </header>

    <!-- End header -->



    <div id="national">
        <h2 class="heading">National</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        <h5 stype>Gas Prices of the Year:</h5>
                        <select id="selDataset1" onchange="optionChanged(this.value)"></select>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Event Info</h3>
                        </div>
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="text-align: center">Date</th>
                                    <th style="text-align: center">Gas Price($)</th>
                                    <th style="text-align: center">Incident Type</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel-heading">
                        <div id="LinePlot_PriceDate"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="BarPlot_PriceDisaster"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="LinePlot_PriceDate"></div>
        </div>
    </div>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 copyright">
                    <p>
                        Copyright &copy; 2021 Elemental Solutions
                    </p>
                </div>
                <div class="col-sm-4 social">
                    <ul>
                        <li>
                            <a href="https://github.com/jzhao0626/Project02" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- End footer -->



    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script> -->
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="{{ url_for('static', filename='js/national.js') }}"></script>



</body>

</html>