<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Elemental Solutions </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/leaflet.css">
</head>

<body>

    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!-- End #mobile-menu-toggle -->
    <header>
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <!-- <li>
                <a href="#about">Home</a>
            </li> -->
            <li>
                <a href="/">National</a>
            </li>
            <li>
                <a href="/state">State</a>
            </li>
            <li>
                <a href="/data">Data</a>
            </li>
            <li>
                <a href="/IF">Interesting Facts</a>
            </li>
        </ul>
    </header>
    <!-- End header -->

    <!-- End #lead -->
    <div id="projects" >
        <br>
        <br>
        <h2 class="heading">State</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">YEAR</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body" style = "padding:10px">
                        <select id="selDataset" onchange="optionChanged(this.value)">
                        </select>
                    </div>
                  </div>
            </div>
              <div class="col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">AVG GAS PRICE</h3>
                </div>
                <div id="sample-metadata1" class="panel-body"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">MAX GAS PRICE</h3>
                </div>
                <div id="sample-metadata2" class="panel-body"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">MIN GAS PRICE</h3>
                </div>
                <div id="sample-metadata3" class="panel-body"></div>
              </div>
            </div>
          </div>
        </div>
      <div id="mapid"></div>
      <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; 2021 Elemental Solutions
                    </p>
                </div>
                <div class="col-sm-2 top">

                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://github.com/jzhao0626/Project02" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

        
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/plots.js') }}"></script> -->

    <script type="text/javascript" src="static/js/config.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script type="text/javascript" src="static/js/data.js"></script>
    <script type="text/javascript" src="static/js/leaflet.js"></script>

</body>

</html>