body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 600px;
  width: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0px;
  margin: 0px;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 60px;
  height: 70px;
  text-align: center;
}
.row{
  height:15px;
}

.pr{
  height:350px;
  width :310px
}

